This notebook connects to our Azure SQL Database, defines the working schema for our project, and finally we will set a procedure to access the NYC yellow taxi trip endpoints, load data parquets and ingest the data into the db

# Connection to Azure SQL DB

First, we have to connect to de deployed db in azure

In [2]:
import os
import pyodbc

In [3]:
connection_string = os.environ["AZURE_SQL_CONNECTION"]

# Defining DB schema

In [5]:
def define_table_in_db():
    try:
        conn = pyodbc.connect(connection_string)
        cursor = conn.cursor()

        cursor.execute("""
        CREATE TABLE taxi_zones (
            location_id INT PRIMARY KEY,
            borough VARCHAR,
            zone VARCHAR                 
                       )

        """)

        cursor.execute("""
            SELECT COUNT(*) as count
            FROM taxi_zones
        """)
        for row in cursor.fetchall():
            print(row.count)
                       

        cursor.execute("""
        CREATE TABLE trips_spatial (
            trip_id INT NOT NULL PRIMARY KEY,
            pu_datetime DATETIME,
            do_datetime DATETIME,
            passenger_count INT,
            trip_distance DECIMAL,
            pu_location INT FOREIGN KEY REFERENCES taxi_zones(location_id),
            do_location INT FOREIGN KEY REFERENCES taxi_zones(location_id)              
                       )

        """)

        cursor.execute("""
            SELECT COUNT(*) as count
            FROM trips_spatial
        """)
        for row in cursor.fetchall():
            print(row.count)

        cursor.execute("""
        CREATE TABLE trips_charges (
            trip_id INT UNIQUE FOREIGN KEY REFERENCES trips_spatial(trip_id),
            rate_code_id INT,
            payment_type INT,
            fare_amount DECIMAL,
            extra DECIMAL,
            mta_tax DECIMAL,
            improvement_surcharge DECIMAL,
            congestion_surcharge DECIMAL,
            airport_fee DECIMAL,
            tip_amount DECIMAL,
            tolls_amount DECIMAL,
            total_amount DECIMAL      
                             
                       )

        """)

        cursor.execute("""
            SELECT COUNT(*) as count
            FROM trips_spatial
        """)
        for row in cursor.fetchall():
            print(row.count)

        conn.commit()


    except Exception as e:
        print(e)

In [6]:
define_table_in_db()

0
0
0

In [8]:
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

cursor.execute("""
        SELECT name 
        FROM sys.tables;
        """)
for row in cursor.fetchall():
    print(row.name)

taxi_zones
trips_spatial
trips_charges